#  Docker files
Dockerfile*
.dockerignore
docker-compose.yml

# Byte-compiled / optimized / DLL files / Web
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/static/

# Python virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Git related
.git/
.gitignore

# IDE related
.idea/
.vscode/

# Markdown files
*.md

# Dotenv files
.env
.env.example

# Django generated
static/